<!DOCTYPE html>
<html lang="it-IT">     
  <head>
      
    <meta charset="UTF-8" />	     
    <title>
		NG-pe
    </title>    
    <link rel="stylesheet" type="text/css" media="all" href="lib/bootstrap/bootstrap.min.css" />
  </head>     
  <body ng-app="misurazione">
      <div ng-controller="pressioneController as pe" class="col-md-9" style="margin-top:1em;">
          
    <form action="?p=elenco" method="POST">
	<caption>Nuova misurazione:</caption>
	<input ng-model="pe.misurazione.datamisurazione" type="date" placeholder="data" required />
	<input ng-model="pe.misurazione.sistolica" type="number"  placeholder="sistolica" required />
	<input ng-model="pe.misurazione.diastolica" type="number"  placeholder="diastolica" required />
        <input ng-model="pe.misurazione.peso" type="number"  placeholder="peso" required />
	<button type="submit" ng-click="pe.addRow()">Salva</button>
        <button ng-click="pe.clear()">Reset</button>
    </form>
          <div ng-hide="">Attenzione! La pressione diastolica non può essere superiore alla sistolica. Controlla i dati in tuo possesso. </div>
          <br />
          <table class="table table-striped" id="Tabpe">
            <tr>
                <th>Data</th>
                <th>Sistolica</th>
                <th>Diastolica</th>
                <th>Peso</th>
                <th> &nbsp; </th>
            </tr>
            
            <tr ng-repeat="(k,x) in pe.list">
                <td>{{ x.datamisurazione }}</td>
                <td>{{ x.sistolica }}</td>
                <td>{{ x.diastolica }}</td>
                <td>{{ x.peso }}</td>
                <td><input type="button" value="Remove" class="btn btn-primary" ng-click="pe.removeRow(k)"/></td>
            </tr>
            
        </table>
      </div>
     
      
        <!--app-footer ver="app.ver" today="app.today"></app-footer-->

        <script src="lib/jquery/jquery-3.1.0.min.js"></script>
        <script src="lib/bootstrap/bootstrap.min.js"></script>
        <script src="lib/angular/angular.min.js"></script>
      <!-- modulo utilizzato e sue componenti -->

        <script src="js/app.js"></script>
        <script src="js/services/pressioneService.js"></script>
        <script src="js/controllers/pressioneController.js"></script>
        
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" 
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous">
        </script>
        
       
  </body>
</html>
